<div class="main">
  <div class="grid">
    <div *ngFor="let a of [].constructor(height); let i=index" class="g-row">
      <div *ngFor="let b of [].constructor(width); let j=index" class="g-col">
        <div class="g-cell"><span *ngIf="coordinateMap.get(i + ',' + j).length > 0" title="{{coordinateMap.get(i + ',' + j).join('\n')}}">X</span></div>
      </div>
    </div>
  </div>
  <div class="settings">
    <div>Grid width <input type="number" [(ngModel)]="width" (input)="initMap()"/></div>
    <div>Grid height <input type="number" [(ngModel)]="height" (input)="initMap()"/></div>
    <div>Coordinates<input (input)="initMap()" placeholder="0,6,8;1,6,2;x,y,z" [(ngModel)]="coordinates"/></div>
    <div>
      Input format:
      <input type="radio" id="rowFirst"
             name="format" value="rowFirst" [(ngModel)]="displayType" (change)="initMap()">
      <label for="rowFirst">Rows, columns</label>
      <input type="radio" id="colFirst"
             name="format" value="colFirst" [(ngModel)]="displayType" (change)="initMap()">
      <label for="colFirst">Columns, rows</label>
    </div>
  </div>
</div>